body{
    background-color: rgb(9, 2, 71);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.c{
    color:rgb(239, 243, 246);
   margin: 0;
   padding: 0;
}
nav{
    display: flex;
    width: 84%;
    margin:auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: bisque;
 font-weight: bold;
}
nav ul li a:hover{
    
    color:green;
}
.co{
    width:450px;
    height: 400px;
}
.left{
    margin-left: 8%;
    margin-top: 10%;    
}
.left h1{
    font-size: 50px;
    color:blueviolet;

}
.left h1:hover{
    color:white;
}
p{
    color:rgb(247, 247, 247);
}
.image{
width:45%;
height: 80%;
position:fixed;
bottom:0;
left:800px;
right:50px;
}
.image mine{
    height: 45%;
    position:absolute;
    width: 45%;
    border-radius:50%;
    bottom:0;
    left:59px;
   
    }
img{
    border-radius: 50%;
}
